<!DOCTYPE html>
<html>
    <head>
        <title>Complaint Form about OU</title>
        <style>
            body { text-align: center;}
            p {font-size: 20px;}
            #button {width: 20%;
                     margin-top: 30px;
                     background-color: lightskyblue;}

        </style>
    </head>
    <body>

    <h1>Complaint Form About OU</h1>

    <form action="/action_page.js">
        <p>Document name:</p>
        <input type="text" name="docname" value="">
        <br>
        <p>Describe your complaint:</p>
        <textarea rows="5" cols="50"></textarea></br>
        <input id="button" type="submit" value="Submit">
      </form>

    </body>
</html>
